#reset-password {
  max-width: 86.7rem;
  margin: 3.57rem auto 16.2rem;
}

.reset-title {
  font-size: 3.14rem;
  font-weight: bold;
  margin-bottom: 4.57rem;
}

.reset-password-form {
  position: relative;
}

label, input {
  display: block;
}

label  {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.85rem;
}

.forgot-first-input,
.forgot-second-input { 
  width: 25.5rem;
  height: 3rem;
  outline: none;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0rem 0rem 0rem 1rem;
  font-size: 1.2rem;
}

.forgot-first-input {
  margin-bottom: 1.2rem;
}

.forgot-second-input {
  margin-bottom: 3.57rem; 
}

.reset-password-button {
  font-size: 1.05rem;
  font-weight: bold;
  border: none;
  width: 25.5rem;
  height: 3rem;
  border-radius: 20px;
  background-color: #FF48AB;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2.5rem;
}

.reset-password-button:hover {
  background-color: #FF269B;
}

.back-to-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.5rem;
  height: 3rem;
  color: #000;
  background-color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  border: 2px solid #FF48AB;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-to-login-button:hover {
  background-color: #FF269B;
  color: #fff;
}


/* POPUP */

.popup-reset { 
  display: block;
  position: fixed;
  width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: none;
  padding: 3.21rem;
  box-shadow: 0px 20px 40px #00000029;
  z-index: 9999;
  border-radius: 20px;
}

.pop-up-logo-reset {
  height: 2.8rem;
  width: 18.21rem;
  margin: 6px 0 2.64rem 2.6rem;
}

.pop-up-text-reset {
  text-align: center;
  margin-bottom: 1.5rem;
}

.reset-pop-up {
  margin-left: 8rem;
  width: 7.285rem;
  height: 3rem;
  padding: 0.55rem 2rem;
  border-radius: 20px;
  border: 1px solid #FF48AB;
  background-color: #FF48AB;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.2s;
  margin-bottom: 1rem;
}

.reset-pop-up:hover {
  background-color: #FF269B;
}

.passwords-match-message {
  position: absolute;
  left: 1rem;
  top: 12.3rem;
  font-size: 0.8rem;
  color: #cb0000;
}


