#header { 
  background-color: #000;
  height: 4.375rem;
}

.header-flex {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem 0;
}

nav ul li a {
  color: #D3D3D3;
}

.logo {
  margin-right: 1.5rem;
  width: 9.4rem;
}

.right-side-flex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}